<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- semantic的CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- 引入自定义的CSS样式 -->
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>分类管理</title>
</head>

<body>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++导航+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!-- tral是指定颜色 -->
            <h2 class='ui teal header item'>后台管理</h2>
            <a href="#" class=" m-item m-mobile-hide item"><i class="home icon"></i>博客</a>
            <a href="#" class="active m-item  m-mobile-hide item"><i class=" idea icon"></i>分类</a>
            <a href="#" class="m-item  m-mobile-hide item"><i class=" tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/173/100/100">
                        精钢葫芦娃
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon black button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++中间内容+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--消息提示组件-->
        <!--这种注释，thymeleaf可以识别-->
        <!--/*/
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        /*/-->
        <table class="ui compact teal table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--    thymeleaf遍历Model种的page        -->
            <tr th:each="type,iterStat : ${page.getRecords()}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">西游记</td>
                <td>
                    <!--用type.id替换{id}-->
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" onclick="deleteType(this)"
                       th:attr="data-typeid=${type.id},data-typename=${type.name},data-pageno=${page.current},data-pagesize=${page.getRecords().size()}"
                       class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <!--只有总页数大于1页才会显示上一页下一页，否在不会显示-->
                    <div class="ui mini pagination menu" th:if="${page.getPages()}>1">
                        <!--涉及到th:href传参的使用-->
                        <a class=" item" th:if="${page.hasPrevious()}"
                           th:href="@{/admin/types(currentNo=${page.getCurrent()}-1)}">上一页</a>
                        <a class=" item" th:if="${page.hasNext()}"
                           th:href="@{/admin/types(currentNo=${page.getCurrent()}+1)}">下一页</a>
                    </div>
                    <a href="#" class="ui mini right floated teal basic button" th:href="@{/admin/types/input}">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++底部+++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <!-- <div class="three wide column ">
                <div class="item">
                    <img src="./static/images/QQ二维码.png" class="ui rounded image " alt="" style="width: 120px">
                </div>
            </div> -->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/QQ二维码.png" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：132685188@qq.com</a>
                    <a href="#" class="item">QQ：1312685188</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客，会分享任何我喜欢的内容
                </p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <br><br><br>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright@ 2020 ZixiangHu All Rights Reserved</p>
        </div>
    </div>
</footer>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- Jquery的CDN -->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // 提示框自动消失
    $('.message').delay(2000).hide("slow");

    function deleteType(obj) {
        //获取待删除的类型的id和类型名称
        const typeid = $(obj).data("typeid")
        const typename = $(obj).data("typename")
        //获得当前页码和当前页展示的记录数目
        const pageno = $(obj).data("pageno")
        const pagesize = $(obj).data("pagesize")
        // 优化删除后页面的跳转
        //如果删除前页面还有类型则删除后返回删除前的页面；如果删除后页面没有类型，则返回其前一页的类型
        let redirectUrl;
        if (pageno > 1) {
            //如果当前页面只有一条记录，那么删除后应该展示前一页的记录，如果多余一条记录，那么继续展示删除之后的页
            if (pagesize == 1) {
                redirectUrl = "/admin/types/delete2list?deleteName=" + encodeURIComponent(typename) + "&&currentNo=" + (pageno - 1);
            } else
                redirectUrl = "/admin/types/delete2list?deleteName=" + encodeURIComponent(typename) + "&&currentNo=" + pageno;
        } else
            redirectUrl = "/admin/types/delete2list?deleteName=" + encodeURIComponent(typename) + "&&currentNo=1";
        if (confirm("确认删除【" + typename + "】吗?")) {
            $.ajax({
                url: "/admin/types/" + typeid + "/delete",
                success: function (result) {
                    if (result) {
                        //重定向
                        window.location.href = redirectUrl;
                    } else {
                        alert("【" + typename + "】还有关联的博客，不能删除！！！");
                    }

                }
            })
        }
    }
</script>
</body>

</html>